<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Bootstrap demo</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>

<body>
	<h1>view!</h1>
	<table class="table table-striped">
		<thead>
			<tr>
				<th scope="col"></th>
				<th scope="col">NAME</th>
				<th scope="col">BRANCH</th>
				<th scope="col">AGE</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="student:${studentList}">
				<td th:text="${student.id}">
					</th>
				<td th:text="${student.name}">
					</tdth:text="${student.id}">
				<td th:text="${student.branch}"></td>
				<td th:text="${student.age}"></td>
			</tr>
		</tbody>
	</table>
	<br>
	<a href="/add" class="btn btn-primary">Add Student</a>
	<a href="/update" class="btn btn-primary">Update Student</a>
	<a href="/del" class="btn btn-primary">Delete Student</a>
	<a href="/" class="btn btn-primary">Home</a>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
		crossorigin="anonymous"></script>
</body>

</html>